*{padding:0;margin:0}
  li{list-style:none}
  a{text-decoration:none;font-size:14px}
  .menu {
    width: 90px;
    overflow: hidden;
    margin: 0px;}
  .menu > li {
    width: 100%;
    text-align: center;
    line-height: 90px;
    background-color: #1b5ac2;}
  .menu a {
    color: #fff;}
  .submenu > li {
    line-height: 50px;
    background-color: #94a9ff;}
  .submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;}
  .menu > li:hover {
    background-color: #94a9ff;
    transition-duration: 0.5s;}
  .menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;}
  dl{
    float:left;
    margin-top: 20px;
    margin-left:20px;
    box-sizing: border-box;
    position:absolute;
    width : 586px;
    height : 950px;
    left:calc(50%-586px/2-427px);
    top:calc(50%-1024px/2);
    border-right: 1px solid #BBB9B9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  input:-ms-input-placeolder{color:#a8a8a8;}
  input::-webkit-input-placeholder{color:#a8a8a8;}
  input::-moz-placeholder{color:#a8a8a8;}
  h1{
    height:40px;
    width:400px;
    border:1px solid #1b5ac2;
    background:#ffffff;
  }
  input{
    font-size:16px;
    width:325px;
    padding:10px;
    border:0px;
    outline:none;
    float:left;
  }
  button{
    width:50px;
    height:100%;
    border:0px;
    background:#1b5ac2;
    outline:none;
    float:right;
    color:#ffffff;
  }
  .line{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color:rgba(0, 0, 0, 0.25);
    font-size:16px;
    margin:16px 0px;
  }
  .line::before,
  .line::after{
    content:"";
    flex-grow:1;
    margin:40px 10px;
    background:rgba(0, 0, 0, 0.25);
    height:1px;
    font-size:0px;
    line-height:0px;
  }
  fieldset{
    box-sizing: border-box;
    position:absolute;
    width:1190px;
    height:900px;
    left:705px;
    top:20px;
    border:none;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  }
  .no-scroll {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  html, body{width:100%;height:100%;margin:0;padding:0;} 
  .map_wrap {position:relative;overflow:hidden;width:100%;height:100%;}
  .radius_border{border:1px solid #919191;border-radius:5px;}     
  .custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
  .custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
  .custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
  .custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
  .custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
  .custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
  .custom_typecontrol .selected_btn:hover {color:#fff;}   
  .custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;} 
  .custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
  .custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
  .custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}  
  .map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
